* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-background {
    background-image: url("Assets/under_water.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;
}

.main-content {height: 100vh;}

.fish {height: 30rem;}

#text-container {
background: rgba(243, 247, 243, 0.3);
border-radius: 1rem;
width: 25rem;
padding: 1rem;
height: 20rem;
color: white;
}

button {
    border-radius: 2rem;
    border: none;
    height: 3rem;
    width: 5rem;
    font-size: larger;
    color: white;
}

#first-view-button-yes {background-color: green;}

#first-view-button-no {background-color: red;}

/* Reusable classes */
.flex {display: flex;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.text-center {text-align: center;}
.column {flex-direction: column;}

/* Media Queries */
@media all and (max-width: 900px) {
    .main-content {justify-content: center;}
    .fish {display: none;}
}

@media all and (max-width: 480px) {
    .main-content {justify-content: center;}
    .fish {display: none;}
    #text-container {width: 17rem;
            height: 27rem;
    }
}